.header {
    padding: 20px;
    display: flex;
    justify-content: center;
    background: #3f51b5;
}

.form {
    display: flex;
    width: 100%;
    max-width: 500px;
}

.input {
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 8px 0 0 8px;
    outline: none;
    font-size: 16px;
}

.button {
    padding: 10px 20px;
    background: #283593;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 500;
}

.button:hover {
    background: #1a237e;
}