.card {
    cursor: pointer;
    overflow: hidden;
    border-radius: 12px;
    background: #f0f0f0;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

.image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}